#Node Enviroment Configuration
#development or production
NODE_ENV=development

#API domain
DOMAIN_DEVELOPMENT=http://127.0.0.1
#Not used but for convenience
DOMAIN_PRODUCTION=
API_URL_PREFIX=/api
API_VERSION=1


#Server Port Configuration
PORT_CLIENT_SERVER_1=5000
PORT_CLIENT_SERVER_2=6000



#tablets urls
TABLET_1_WEBSOCKET_URL=ws://127.0.0.1:7000
TABLET_2_WEBSOCKET_URL=ws://127.0.0.1:8000


#access token (Issued by the tablet server)
TABLET_ACCESS_TOKEN=



#JWT Configuration
#14d days is the exp. duration of the token on the server (this syntax is used in signing the JWT token: d for days, m for minutes, s for seconds)
JWT_EXPIRES_IN=14d
